/*
//*********************************************************************************
// Priya Singh
// COMP 484 | Fall 2020
// Assignment 7 - Asmt_7.css
//*********************************************************************************
*/

@media only screen and (max-width: 560px){
    body {
        font-size: 2.5vw;
    }
}

legend {
    color: #d22030;
    font-family: 'Helvetica';/* CSUN alternative heading font */
}

body{
    font-family: 'Helvetica';/* CSUN alternative body font */
    color: #000000;/* CSUN black */
    width: 98%;
    background-color: white;
}

img {
  height: auto;
  width: 5%;
}

fieldset{
   width: 50%;   
   border: 1px solid #bec6c3;
}

input{
  background-color: #f5f5f5;
  border: 1px solid #bec6c3;
  width: 80%;
}

select {
  background-color: #f5f5f5;
  border: 1px solid #bec6c3;
  width: 80%;
}

div{
  padding: 0.5%;
}

#submit{
    width: auto;
	border-radius: 20px;
}
